  .cards-container{
        display: grid;
        align-items: stretch;
        grid-template-columns: auto auto auto auto;
        padding: 16px;
        gap: 16px;
        flex: 1;

    }
    .main-layout {
        display: flex;
        align-items: flex-start; 
}

    .cart-sidebar {
    width: 300px;
    min-height: 100vh;
    padding: 16px;
    background: #f8f9fa;
    border-left: 1px solid #ddd;
        }

    .cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    }

    .cart-total {
    font-weight: bold;
    margin-top: 20px;
    }
